html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body[data-color-mode] {
  /* background-color: var(--brand-color-canvas-default); */
  background-color: #fff;
}

.react-transform-wrapper {
  width: calc(100% - 80px) !important;
  min-height: 800px;
  max-height: 800px;
}
