.container {
  padding: 100px 0 0;
}

.card {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.card::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(90deg, #c3abf0, #e4767b);
  border-radius: 6px;
  /* background: linear-gradient(90deg, #c3abf0, #e4767b); */
}
.card::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  content: "";
  /* background: #0d1117; */
  background: var(--brand-color-canvas-default);
}
.cardHeading {
  margin: 1rem 0 0.75rem;
}

.categoryHeading {
  margin: 3rem 0 1rem;
}

.thumbnail {
  width: 100%;
  height: auto;
}
